<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<nav>

<ul>
<li>
    <h1><%= title %></h1>
</li>
</ul>
</nav>
<main>
<p><%=message%></p>
<a href="/">retour</a>
</main>

  </body>
</html>

